<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiPredict Landing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="container">
        <h1>DigiPredict:</h1>
        <p>Identifying handwritten numbers easily.</p>

        <div class="content">
            <div class="left">
                <a href="{{ url_for('register') }}"><button class="btn">Register</button></a>
                <a href="{{ url_for('login') }}"><button class="btn">Login</button></a>
            </div>
            <div class="divider"></div>
            <div class="right">
                <h3>How it works</h3>
                <div class="image-placeholder">[Image]</div>
            </div>
        </div>
    </div>

</body>
</html>
